.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;
}

.login-container>#login-banner{
  height: 12vh;
  width: 50vw;
  background-color: #A46767;
  text-align: center;
  font-size: 31px;
  font-family: 'Itim';
}

.login-form {
  width: 50vw;
  padding: 20px;
  
  border-radius: 5px;
}

.login-form h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  margin-top: 20px;
}

.links {
  display:flex;
  flex-direction: column;
}

.links>#login-buttons{
  display:flex;
  justify-content: center;
  justify-content: space-around;
}

.links>#login-buttons>.actions {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #0056b3;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
