/* HomePage.css */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
}

.homepage-header {
  text-align: center;
  margin-bottom: 50px;
}

.homepage-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.homepage-header p {
  font-size: 1.2rem;
  color: #666;
}

.auth-options,
.browse-movies {
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none; /* Remove underline from links */
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
  border: 1px solid #6c757d;
}

.btn-secondary:hover {
  background-color: #545b62;
  border-color: #545b62;
}

.btn-success {
  background-color: #28a745;
  color: #ffffff;
  border: 1px solid #28a745;
}

.btn-success:hover {
  background-color: #1e7e34;
  border-color: #1e7e34;
}
