h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#movieTitle {
    margin: 25px 0;
}
.centeredH4 {
    text-align: center;
}
h6 {
    text-align: center;
}
#bkTicksPage {
    margin: 25px 0;
}
#seatLayoutImg {
    display: block;
    margin: 0 auto;
    width: 600px;
    border: solid;
    margin-bottom: 25px;
}
.submitCancelBtn {
    display: flex;
    justify-content: center;
}
.vertLine {
    display: inline-block;
    border: solid 5px;
    height: 250px;
}
.bkTicksAllFields {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.bkTicksFields1Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bkTicksFields1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bkTicksFields2 {
    display: flex;
    flex-direction: column;
}