h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.checkoutArea {
    display: flex;
    justify-content:space-evenly;
    margin: 25px 0;
}
#formSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.orderSummary {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}
.orderSummary > * {
    margin-bottom: 10px;
}
.paymentSection {
    display: flex;
    flex-direction: column;
}
.paymentSection input, select {
    margin-bottom: 10px;
}
.shippingSection {
    display: flex;
    flex-direction: column;
}
.shippingSection input {
    margin-bottom: 10px;
}
.confirmCancelBtn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#addCardBtn {
    margin: 0px auto;
}
#checkoutPage {
    margin: 25px 0;
}